backoff==2.2.1
blinker==1.8.2
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
coinbase-advanced-py==1.4.1
cryptography==42.0.8
Flask==3.0.3
gunicorn==22.0.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.0
pycparser==2.22
PyJWT==2.8.0
python-dotenv==1.0.1
python-json-logger==2.0.7
requests==2.32.3
urllib3==2.2.1
websockets==12.0
Werkzeug==3.0.3
